@charset UTF-8

* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: Starjedi;
  src: url(../../fonts/starjedi/Starjedi.ttf);
}

@font-face {
  font-family: Starjout;
  src: url(../../fonts/starjout/Starjout.ttf);
}

@font-face {
  font-family: Stjedise;
  src: url(../../fonts/stjedise/STJEDISE.TTF);
}

body{
	background-color: #222222;
  font-family: Starjedi, Arial;
}

body a{
	text-decoration: none;
	color: white;
}

body a:hover {
	color: #FFE81F;
}

body ul{
	margin:0;
	list-style: none;
}

.menu{
	padding-left:15;
	display: flex;
	justify-content: space-between;
}

.PagIni{
	font-family: Stjedise;
	display: flex;
	font-size: 120%;
	padding-right: 10%;
}

.PagIni img{
	height: 30px;
	padding-left: 10px;
}

.Pags{
	display: flex;
	padding-top: 5px;
	padding-right: 10px;
}

.Pags a{
	padding-right: 10px;
}
